@charset "utf-8";

.flex {
    display: flex;
    justify-content: flex-end;
}
.identical-table {
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
.identical-table .table {
    text-align: center;
    border: 1px solid #e0dddd;
}
.identical-table .identical-thead {
    background-color: #f5f5f6;
}
.identical-table .identical-thead tr th {
    vertical-align: middle;
}
.identical-table .identical-thead tr th {
    text-align: center;
    font-weight: normal;
    border-right: 1px solid #e0dddd;
    border-bottom: 0;
}
.identical-table .table tbody tr td {
    vertical-align: middle;
    border-right: 1px solid #e0dddd;
}
.pagination li {
    display: inline-block;
}

/* 服务质量与乘客体验Start*/
/* ->站点评价 */
.evaluation-tag {
    border: 1px solid #e4e4e4;
    background-color: #fff;
}
#carzxt {
    width: 100%;
    height: 360px;
}
.statistics-area {
    padding: 20px 30px;
}
.statistics-block {
    width: 391px;
    background-color: #f3f6fb;
    margin-bottom: 20px;
}
.statistics-type {
    border-bottom: 1px solid #e4e4e4;
}
.col33 {
    -webkit-flex: 0 0 30%;
    flex: 0 0 30%;
}
.total {
    font-size: 30px;
    min-width: 145px;
}
.table-arrow {
    background: url(../img/u1403.png) no-repeat;
    background-size:100% 100%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 5px 0 0 5px;
}
/*表格样式*/
.table-identical{
    width:100%;
    padding: 30px;
}
.je-grid-thead table{
    width:100%;
}
.je-grid-thead table th {
    position: relative;
    padding: 0 6px;
    border: 1px solid #e4e4e4;
    height: 34px;
    line-height: 34px;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.table-identical table thead tr th em {
    width: 10px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 5px;
    margin: -6px 0 0 -5px;
    z-index: 10;
    overflow: hidden;
}
.table-identical table thead tr th em:before {
    content: "";
    font-size: 0;
    line-height: 0;
    border-width: 5px;
    width: 0;
    height: 0;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #666 transparent;
    position: absolute;
    top: -5px;
    left: 0;
}
.table-identical table thead tr th em:after {
    content: "";
    font-size: 0;
    line-height: 0;
    border-width: 5px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed dashed;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.je-grid-thead tbody tr td {
    padding: 6px;
    border: 1px solid #e4e4e4;
}


/* 乘车时长与满意度分析 */
.peak-value {
    height: 140px;
}
.peak-value-high {
    line-height: 140px;
}
.other-peak {
    margin:0 5px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.identical-peak {
    display: inline-block;
    width: 33%;
    text-align: center;
}
.identical-time {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e4e4e4;
    display: block;
}
.col25 {
    flex: 0 0 25%;
}
.peak-table {
    font-size: 16px;
    height: 65px;
    line-height:65px;
    border-bottom: 1px solid #e4e4e4;
}
.satisfaction-identical {
    width:620px;
    height:180px;
    border: 1px solid #e4e4e4;
    padding: 40px 60px 60px 30px;
    text-indent: 80px;
    margin-bottom: 20px;
}
.col49 {
    flex: 0 0 49%;
}
.workinput {
    width: 200px;
    line-height: 18px;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    font-size: 14px;
}
.wicon {
    background: url(../img/date.png) no-repeat right center;
}