@charset "utf-8";

.flex {
    display: flex;
    justify-content: flex-end;
}
.identical-table {
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
.identical-table .table {
    text-align: center;
    border: 1px solid #e0dddd;
}
.identical-table .identical-thead {
    background-color: #f5f5f6;
}
.identical-table .identical-thead tr th {
    vertical-align: middle;
}
.identical-table .identical-thead tr th {
    text-align: center;
    font-weight: normal;
    border-right: 1px solid #e0dddd;
    border-bottom: 0;
}
.identical-table .table tbody tr td {
    vertical-align: middle;
    border-right: 1px solid #e0dddd;
}
.pagination li {
    display: inline-block;
}