html, body,span,div,em,i,h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, table, tbody, tfoot, thead, tr, th, td, canvas,footer, header,nav,section{ margin: 0;padding: 0;border: 0;box-sizing: border-box;vertical-align: baseline;}
li {list-style: none; }
em,i{font-style: normal;}
td{vertical-align:middle !important;}
a {cursor: pointer;background-color: transparent;text-decoration: none; }
a:active, a:hover {outline: 0; }
img{border:none;display: block;}
/****字体****/
.f12{font-size:14px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}.f24{font-size:24px;}.f26{font-size:26px;}.f28{font-size:28px;}.f30{font-size:30px;}



/***外边距***/
.mg_10{margin:10px;}.mg_15{margin:15px;}.mg_20{margin:20px;}.mg_25{margin:25px;}.mg_30{margin:30px;}.mg_15{margin:35px;}.mg_40{margin:40px;}.mg_45{margin:45px;}.mg_50{margin:50px;}.mg55{margin:55px;}
/***margin-top***/
.mg_t5{ margin-top: 5px; }.mg_t10{margin-top:10px;}.mg_t15{margin-top:15px;}.mg_t20{margin-top:20px;}.mg_t25{margin-top:25px;}.mg_t30{margin-top:30px;}.mg_t15{margin-top:35px;}.mg_t40{margin-top:40px;}.mg_t45{margin-top:45px;}.mg_t50{margin-top:50px;}.mg_t55{margin-top:55px;}
/***margin-right****/
.mg_r10{margin-right:10px;}.mg_r15{margin-right:15px;}.mg_r20{margin-right:20px;}.mg_r25{margin-right:25px;}.mg_r30{margin-right:30px;}.mg_r15{margin-right:35px;}.mg_r40{margin-right:40px;}.mg_r45{margin-right:45px;}.mg_r50{margin-right:50px;}.mg_r55{margin-right:55px;}
/***margin-left****/
.mg_l10{margin-left:10px;}.mg_l15{margin-left:15px;}.mg_l20{margin-left:20px;}.mg_l25{margin-left:25px;}.mg_l30{margin-left:30px;}.mg_l15{margin-left:35px;}.mg_l40{margin-left:40px;}.mg_l45{margin-left:45px;}.mg_l50{margin-left:50px;}.mg_l55{margin-left:55px;}
/***margin-bottom****/
.mg_b0{margin-bottom: 0;}.mg_b5{margin-bottom: 5px;}.mg_b10{margin-bottom:10px;}.mg_b15{margin-bottom:15px;}.mg_b20{margin-bottom:20px;}.mg_b25{margin-bottom:25px;}.mg_b30{margin-bottom:30px;}.mg_b15{margin-bottom:35px;}.mg_b40{margin-bottom:40px;}.mg_b45{margin-bottom:45px;}.mg_b50{margin-bottom:50px;}.mg_b55{margin-bottom:55px;}

/**内边距**/
.pd_0{padding: 0;}.pd_10{padding:10px;}.pd_15{padding:15px;}.pd_20{padding:20px;}.pd_25{padding:25px;}.pd_30{padding:30px;}.pd_15{padding:35px;}.pd_40{padding:40px;}.pd_45{padding:45px;}.pd_50{padding:50px;}.pd_55{padding:55px;}.pd_60{padding: 60px;}
/***padding-top****/
.pd_t0{padding-top:0;}.pd_t5{padding-top:5px;}.pd_t10{padding-top:10px;}.pd_t15{padding-top:15px;}.pd_t20{padding-top:20px;}.pd_t25{padding-top:25px;}.pd_t30{padding-top:30px;}.pd_t15{padding-top:35px;}.pd_t40{padding-top:40px;}.pd_t45{padding-top:45px;}.pd_t50{padding-top:50px;}.pd_t55{padding-top:55px;}
/***padding-right****/
.pd_r0{padding-right:0;}.pd_r10{padding-right:10px;}.pd_r15{padding-right:15px;}.pd_r20{padding-right:20px;}.pd_r25{padding-right:25px;}.pd_r30{padding-right:30px;}.pd_r15{padding-right:35px;}.pd_r40{padding-right:40px;}.pd_r45{padding-right:45px;}.pd_r50{padding-right:50px;}.pd_r55{padding-right:55px;}
/***padding-bottom****/
.pd_b0{padding-bottom:0;}.pd_b10{padding-bottom:10px;}.pd_b15{padding-bottom:15px;}.pd_b20{padding-bottom:20px;}.pd_b25{padding-bottom:25px;}.pd_b30{padding-bottom:30px;}.pd_b15{padding-bottom:35px;}.pd_b40{padding-bottom:40px;}.pd_b45{padding-bottom:45px;}.pd_b50{padding-bottom:50px;}.pd_b55{padding-bottom:55px;}
/***padding-left****/
.pd_l0{padding-left:0;}.pd_l10{padding-left:10px;}.pd_l15{padding-left:15px;}.pd_l20{padding-left:20px;}.pd_l25{padding-left:25px;}.pd_l30{padding-left:30px;}.pd_l35{padding-left:35px;}.pd_l40{padding-left:40px;}.pd_l45{padding-left:45px;}.pd_l50{padding-left:50px;}.pd_l55{padding-left:55px;}

/***宽度***/
.w_10{width:10px;}.w_15{width:15px;}.w_20{width:20px;}.w_25{width:25px;}.w_30{width:30px;}.w_35{width:35px;}.w_40{width:40px;}.w_45{width:45px;}.w_50{width:50px;}.w_55{width:55px;}
/***宽度自适应*****/
.w_auto{width:100%;}

/* height */
.h_10 {height: 10px;}.h_15{height: 15px;}.h_20{height: 20px;}.h_25{height: 25px;}.h_30{height: 30px;}.h_35{height: 35px;}.h_40{height: 40px;}.h_45{height: 45px;}.h_50{height: 50px;}.h_auto{height:100%;}

/* line-height */
.line_h10{line-height: 10px;}.line_h15{line-height: 15px;}.line_h20{line-height: 20px;}.line_h25{line-height: 25px;}.line_h30{line-height: 30px;}.line_h35{line-height: 35px;}.line_h40{line-height: 40px;}.line_h45{line-height: 45px;}.line_h50{line-height: 50px;}  .line_h78{line-height: 78px;}
/* height + line-height */
.hei-line10{height: 10px;line-height: 10px;}.hei-line20{height: 20px;line-height: 20px;}.hei-line30{height: 30px;line-height: 30px;}.hei-line40{height: 40px;line-height: 40px;}.hei-line50{height: 50px;line-height: 50px;}.hei-line60{height: 60px;line-height: 60px;}
/* color */
.color_1ab394 {color: #1ab394;}
.color_e9e9e9 {color: #e9e9e9;}
.color_ccc {color: #ccc;}
.color_999 {color: #999;}
.color_666 {color: #999;}
/* 评价统计颜色块 */
.total-green { color: #1AB394;}
.total-orange { color: #F8AC59;}
.total-red { color: #ED5565;}
.total-blue { color: #1C84C6;}


/* background-color */
.bg_1ab394 {background-color: #1ab394;}
.bg_f8ac59 {background-color: #f8ac59;}
.bg_ed5565 {background-color: #ed5565;}
.bg_fff{background:#ffffff;}
.bg_f3f6fb {background-color: #f3f6fb;}
.b{font-weight: 500;}
/* 清除浮动 */
.clear:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .clear { display: block; }
* html .clear { height: 1%; }
.scroll{overflow-x: auto;}

/*超出隐藏*/
.of_h{overflow:hidden;}
/*显示*/
.dis_b{display:block;}
/*隐藏*/
.dis_n{display:none;}
/*弹性盒*/
.dis_f{display:flex;}
/*文字居中*/
.text_c{text-align:center;}

/*弹性盒子元素水平居中*/
.jst_c{justify-content: center;}
/*弹性盒子元素水平从左开始排列*/
.jst_l{justify-content: flex-start;}
/*弹性盒子元素水平从右开始排列*/
.jst_r{justify-content: flex-end;}
/*弹性盒子元素水平环绕*/
.jst_sa{justify-content: space-around;}
/*弹性盒子元素水平两端分散*/
.jst_sb{justify-content: space-between;}
/*弹性盒子元素垂直居中*/
.item_c{align-items:center;}
/*弹性盒子元素垂直起点开始排列*/
.item_s{align-items:start;}
/*弹性盒子元素垂直结束点排列*/
.item_e{align-items:end;}
/* 换行 */
.flex-wrap {flex-wrap: wrap;}
/*点击手势*/
.cursor{cursor: pointer;}
/***边框****/
bd_t0{border-top:none;}bd_b0{border-bottom:none;}bd_r0{border-right:none;}bd_r0{border-left:none;}
.bd_1{border:1px solid #e4e4e4; }.bd_2{border:2px solid #e4e4e4;}
.bd_t1{border-top:1px solid #e4e4e4; }.bd_t2{border-top:2px solid #e4e4e4;}
.bd_b1{border-bottom:1px solid #e4e4e4; }.bd_b2{border-bottom:2px solid #e4e4e4;}
.bd_r1{border-right:1px solid #e4e4e4; }.bd_r2{border-right:2px solid #e4e4e4;}
.bd_l1{border-left:1px solid #e4e4e4; }.bd_l2{border-left:2px solid #e4e4e4;}
/***公用的块****/
/***一级标题***/
h1{  color:#cccccc;  font-size:28px;  padding-top:20px;  height:66px;  width:100%;  }
/*文本区域样式*/
.loadContent{  background:#f2f2f2;  padding-bottom: 30px;  }
/*一级标题*/
h1{  color: #999999;  font-size:24px;  border-bottom: 1px solid #e4e4e4;  padding:10px 0 0 20px;  line-height: 46px;  background:#ffffff;  margin-bottom: 10px;  }
/**二级标题***/
h2{  font-size:16px;  font-weight: normal;  color: #666666;  height:50px;  width:100%;  line-height: 50px;  border-top:2px solid #e4e4e4;  padding-left: 15px;}
/*分页的高亮样式*/
.pageInfo .active{  background:green;  color: #ffffff;  }
.pageInfo li{cursor:pointer;}
/*排行模块的样式*/
.plugin-topList p {  border-radius: 2px;  color: #ffffff;  background:green;  }
.plugin-topList .title{  padding-top :15px;  }
.plugin-topList .title .titleName{  color:#666666;  font-size:20px;  height:48px;  line-height: 48px;  padding-left: 25px;  }
.plugin-topList .title .dataSouce{  font-size:12px;  padding-left: 25px;  color: #999999;  }
body {  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  background-color: #2f4050;  font-size: 13px;  color: #676a6c;  height: 100%;  overflow:hidden ;  position: relative;  }
html{  height:100%;}
/*top顶部通栏和侧边栏样式*/
.navbar-static-top{background:url("../img/u12.png");-webkit-background-size: cover;background-size: cover;: }
/*.nav-header {background:url("../img/u65.png");-webkit-background-size: cover;background-size: cover;: }*/
.arrow {float: right;}
.fa.arrow:before {content: "\f104"; }
.down>a>.fa.arrow:before {content: "\f107";  }
.loadContent{position:absolute;left:0;right:0;top:0;bottom:15px;}
#page-wrapper {overflow:hidden;overflow-y:auto;position:absolute;left:0;right:0;top:65px;bottom:0;background:#ffffff;}
@media (min-width: 768px) {#page-wrapper {position: inherit;margin: 0 0 0 220px;}  }
.nav > li > a {color: #a7b1c2;font-weight: 600;padding: 14px 20px 14px 25px;  }
.nav.navbar-right > li > a {color: #fff;  }
.nav > li.active > a {color: #ffffff;  }
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {background-color: #293846;color: white;  }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background: #fff;}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {  background-color: transparent;}
.nav > li > a i {  margin-right: 6px; }
.navbar {  border: 0; }
.navbar-default { background-color: transparent;  border-color: #2f4050;  }
.navbar-top-links li { display: inline-block;  }
.navbar-top-links li:last-child { margin-right: 40px;}
.body-small .navbar-top-links li:last-child {  margin-right: 0;  }
.navbar-top-links li a {  padding: 20px 10px;  min-height: 50px;  }
.nav.navbar-top-links .dropdown-alerts a {  font-size: 12px;  }
.nav-header {  padding: 33px 25px;}
.pace-done .nav-header {transition: all 0.4s;  }
.nav > li.active {  border-left: 4px solid #19aa8d;  background: #293846;  }
.nav.nav-second-level > li.active {  border: none;  }
.nav.nav-second-level.collapse[style] {  height: auto !important;  }
.nav-header a {  color: #DFE4ED;  }
.nav-header .text-muted {  color: #8095a8;  }
.logo-element {  text-align: center;  font-size: 18px;  font-weight: 600;  color: white;  display: none;  padding: 18px 0;  }
.img-circle {  width: 50px;  height: 50px;}
.logo {  background: url(../img/logo.png) no-repeat;  background-size: 100% 100%;  width: 110px;  height: 30px;  display: inline-block;  margin: 15px 0 0 15px;  }
.font18 {  font-size: 18px;  }
body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span {  display: none;  }
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {  display: none;  }
body.mini-navbar .navbar-default .nav > li > a { font-size: 16px;  }
body.mini-navbar .logo-element {  display: block;  }
body.canvas-menu .logo-element {  display: none;  }
body.mini-navbar .nav-header {  padding: 0;  background-color: #1ab394;  }
body.mini-navbar #page-wrapper {  margin: 0 0 0 70px;  }
body.mini-navbar.fixed-sidebar .profile-element, .block {  display: block !important;  }
@media (min-width: 768px) {  #page-wrapper {overflow:hidden;overflow-y:auto;position:absolute;left:0;right:0;top:65px;bottom:0;}  .navbar-static-side {  z-index: 2001;  position: absolute;  width: 220px; top:65px; }  .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {  margin-left: auto;  }  }
.loadContent{overflow:hidden;overflow-y:auto;position:absolute;left:0;right:0;top:0;bottom:15px;}
@media (max-width: 768px) { #page-wrapper {overflow:hidden;overflow-y:auto;position:absolute;left:0;right:0;top:65px;bottom:0px;}  .body-small .navbar-static-side {  display: none;  z-index: 2001;  position: absolute;  width: 70px;  }  .body-small.mini-navbar .navbar-static-side {  display: block;  }  .lock-word {  display: none;  }  .navbar-form-custom {  display: none;  }  .navbar-header {  display: inline;  float: left;  }  .loadContent{overflow:hidden;overflow-y:auto;position:absolute;left:0;right:0;top:0;bottom:15px;}  }
@media (max-width: 1000px) {  .welcome-message {  display: none;  }  }
@media print {  nav.navbar-static-side {  display: none;  }  #page-wrapper {  margin: 0;  }  }
li a:hover {  cursor: pointer;}
.nav-second-level li,
.nav-third-level li {  border-bottom: none !important;  }
.nav-second-level li a {  padding: 7px 10px 7px 10px;  padding-left: 52px;  }
.nav-third-level li a {  padding-left: 62px;  }
.nav-second-level li:last-child {  margin-bottom: 10px;  }
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {  display: block;  border-radius: 0 2px 2px 0;  min-width: 140px;  height: auto;  }
body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {  font-size: 12px;  border-radius: 3px;  }
.fixed-nav .slimScrollDiv #side-menu {  padding-bottom: 60px;  }
.mini-navbar .nav-second-level li a {  padding: 10px 10px 10px 15px;  }
.mini-navbar .nav-second-level {  position: absolute;  left: 70px;  top: 0;  background-color: #2f4050;  padding: 10px 10px 10px 10px;  font-size: 12px;  }
.canvas-menu.mini-navbar .nav-second-level {  background: #293846;  }
.mini-navbar li.active .nav-second-level {left: 65px;  }
/*动画效果*/
.animation{
    -webkit-animation:fadeInLeft 1s .2s ease both;
    -moz-animation:fadeInLeft 1s .2s ease both;}
@-webkit-keyframes fadeInLeft{
    0%{opacity:0;
        -webkit-transform:translateX(-20px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
    0%{opacity:0;
        -moz-transform:translateX(-20px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}
.animation1{
    -webkit-animation:fadeInRight 1s .2s ease both;
    -moz-animation:fadeInRight 1s .2s ease both;}
@-webkit-keyframes fadeInRight{
    0%{opacity:0;
        -webkit-transform:translateX(20px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRight{
    0%{opacity:0;
        -moz-transform:translateX(20px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}
.animation2{
    -webkit-animation:fadeInUp 1s .2s ease both;
    -moz-animation:fadeInUp 1s .2s ease both;}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        -webkit-transform:translateY(20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
    0%{opacity:0;
        -moz-transform:translateY(20px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}
.animation3{
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;}
@-webkit-keyframes fadeInDown{
    0%{opacity:0;
        -webkit-transform:translateY(-20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
    0%{opacity:0;
        -moz-transform:translateY(-20px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}
/*位移密集区域与OD趋势*/

/*分页样式*/
/*枚举样式*/
.selectDiv{padding-left: 20px;margin-right:20px; position: relative;}
.selectDiv p{color:#999999;  font-size:18px;font-weight: 500;line-height: 38px;}
.selectDiv .select{height:30px;line-height: 30px;outline: none;border:1px solid #e4e4e4;border-radius: 3px;width:100%; background: url('../img/icon.png')no-repeat right center;background-size:24px 10px;  cursor: pointer;}

.selectpickDiv{  position:absolute;  border:1px solid #e4e4e4;background:#ffffff;  -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    box-shadow: 3px 3px 3px;  }
.selectpickDiv .selectpickUl {margin-bottom: 25px;padding: 10px  10px 0 10px;height: 350px;}
.selectpickDiv .selectpickUl li{ padding-left: 10px;margin: 5px 0; list-style:none; font-size:16px;  line-height:30px;  border-bottom:1px solid #e4e4e4;  }
.selectpickDiv .selectpickUl li:hover{  background:#2f4050;  color:#ffffff;  }
.selectpickDiv .active{  background:#2f4050;  color:#ffffff;  }



.radioDiv {margin-left:20px;padding-top: 40px;color: #999999;}

/*地图评价*/
    /*title区域*/
 .titleH2 { position: relative;border-top:1px solid #e4e4e4;}
 .titleH2 p {position:absolute;top:0;right:15px;}
 .titleH2  span{padding: 2px 8px;cursor: pointer;}
 .titleH2  .active{background:#f2f2f2;}
/*站点、线路评价统计*/
  .evaluate .box{height:80px;padding: 5px 20px;}
  .evaluate .progress{background:#f2f2f2;height:5px;overflow: hidden;}
 .evaluate .progress-bar{background-color:#19aa8d;hieght:5px;}
  .evaluate img{float: right;}
 .evaluate .up{transform: rotate(0deg) translateY(5px); }
  .evaluate .down{transform: rotate(180deg)translateY(-5px);}
  .seeDetail .up{transform: rotate(0deg);}
 .seeDetail .down{transform: rotate(180deg);}
 /**迁徙图**/
.echartsBoxMap .pmgressbar{
    position:absolute;
    width:80%;
    height:25px;
    background:#081521;
    bottom:50px;
    opacity:.9;
    margin-left:17%;
    border-radius:5px;
    padding:0 5px;
    cursor:pointer;
}
.echartsBoxMap .pmgressbar .end, .pmgressbar .start{
    width:8px;
    height:25px;
    background:#fff;
    float:left;
    border-radius:3px;
    cursor:pointer;
    position:absolute;
    z-index:10000;
}
.echartsBoxMap .pmgressbar ul{
    overflow: hidden;
    cursor:default;
    position:absolute;
    width:115%;
    top:-35px;
    height:25px;
    font-size:14px;
    color:#fff;
    margin-left:-2%;
}
.echartsBoxMap .pmgressbar ul li {
    list-style:none;
    float:left;
    width:7%;
    text-align:center;

}
.echartsBoxMap .end{
    left:10px;
}
.echartsBoxMap .bar{
    float:left;
    background:#143647;
    height:25px;
    opacity:.8;
}
.echartsBoxMap  .box{
    position:relative;
    width:100%;
    height:900px;
}
.echartsBoxMap  .legend{
    width:17%;
    height:60px;
    background:#000;
    opacity:.8;
    position:absolute;
    left:-18%;
    top:-35px;
    border-radius:8px;
    box-sizing:border-box;
}
.echartsBoxMap  .legend em{
    width: 20px;
    height:20px;
    border-radius:50%;
}
.echartsBoxMap .legend .red{
    background:red;
}
.echartsBoxMap  .legend .green{
    background:#28cc79;
}
.echartsBoxMap  .legend p {
    height:30px;
    line-height:30px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.echartsBoxMap  .legend p span {
    color:#fff;
    font-size:14px;
    line-height:30px;
}