

/*****排行展示样式*****/
.plugin-topList{
    width:100%;
}
.plugin-topList ul{
    width:100%;
    padding: 25px;

}
.plugin-topList ul li{
    border-bottom: 1px solid #e4e4e4;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plugin-topList ul li div{
    display: flex;
    align-items: center;
}
.plugin-topList ul li div p{
    width:24px;
    height:24px;
    background:green;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
}